<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
	<img src="{{ site.url }}{{ site.baseurl }}/images/logopic/QMUL_logo.png" style="width: 210px">

		   <p>  </p><p>
            		  
            
		</div>
		<div class="col-sm-4">
		<img src="{{ site.url }}{{ site.baseurl }}/images/logopic/rim.png" style="width: 210px">
		</div>
		<div class="col-sm-4">
		  Contact:<br />
		  Queen Mary University of London, <br /> 
		  Mile End, London<br />
		  E1 4NS United Kingdom<br />
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>









<!-- 		<div class="col-sm-2">
			<figure class="two">
			  <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/rim.png" style="width: 210px">
			  <img src="{{ site.url }}{{ site.baseurl }}/images/logopic/QMUL_logo.png" style="width: 210px">
			</figure>
		</div> -->

